---
layout: layout.liquid
title: Planetary Playing Cards
---

<main>
    <div class="planet mercury">Mercury - 0.39 AU</div>
    <div class="planet venus">Venus - 0.72 AU</div>
    <div class="planet earth">Earth - 1.00 AU</div>
    <div class="planet mars">Mars - 1.52 AU</div>
    <div class="planet jupiter">Jupiter - 5.20 AU</div>
    <div class="planet saturn">Saturn - 9.58 AU</div>
    <div class="planet uranus">Uranus - 19.18 AU</div>
    <div class="planet neptune">Neptune - 30.07 AU</div>
</main>