---
layout: layout.liquid
title: Planetary Playing Cards
---

<main>
    <div class="planet mercury">
        <div class="planet-circle"></div>
        <h2>Mercury</h2>
        <p>0.39 AU</p>
    </div>

    <div class="planet venus">
        <div class="planet-circle"></div>
        <h2>Venus</h2>
        <p>0.72 AU</p>
    </div>

    <div class="planet earth">
        <div class="planet-circle"></div>
        <h2>Earth</h2>
        <p>1.00 AU</p>
    </div>

    <div class="planet mars">
        <div class="planet-circle"></div>
        <h2>Mars</h2>
        <p>1.52 AU</p>
    </div>

    <div class="planet jupiter">
        <div class="planet-circle"></div>
        <h2>Jupiter</h2>
        <p>5.20 AU</p>
    </div>

    <div class="planet saturn">
        <div class="planet-circle"></div>
        <h2>Saturn</h2>
        <p>9.58 AU</p>
    </div>

    <div class="planet uranus">
        <div class="planet-circle"></div>
        <h2>Uranus</h2>
        <p>19.18 AU</p>
    </div>

    <div class="planet neptune">
        <div class="planet-circle"></div>
        <h2>Neptune</h2>
        <p>30.07 AU</p>
    </div>
</main>