---
layout: layout.liquid
title: Planetary Playing Cards
---

<div class="grid-container">
    <div class="sun-card">
        <div class="sun-circle"></div>
        <h2>Sun</h2>
        <p>Type G2V</p>
    </div>
    {% include "planet-card.liquid" planet={ "name": "Neptune", "color": "Deep Navy" } %}
    {% include "planet-card.liquid" planet={ "name": "Uranus", "color": "Royal Blue" } %}
    {% include "planet-card.liquid" planet={ "name": "Saturn", "color": "Warm Gray" } %}
    {% include "planet-card.liquid" planet={ "name": "Jupiter", "color": "Soft White" } %}
    {% include "planet-card.liquid" planet={ "name": "Mars", "color": "Electric Teal" } %}
    {% include "planet-card.liquid" planet={ "name": "Earth", "color": "Sunset Orange" } %}
    {% include "planet-card.liquid" planet={ "name": "Venus", "color": "goldenrod" } %}
    {% include "planet-card.liquid" planet={ "name": "Mercury", "color": "Muted Sand" } %}
</div>
